<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Will is a researcher and practitioner, specialising in dramaturgy, adaptation and Hitchcock, 
          with a strong performance and filmmaking background. He has written, directed, and produced five 
          films ranging in duration from three to sixty-seven minutes and have been involved in a broad range 
          of theatrical experiences including dramas, comedy, musical theatre, and physical theatre.</p>
      </div>
      <div class="col-lg-4">
        <p>In performance, his major influences are Ellen Lauren (Suzuki), Jacqui Carroll (Suzuki), Alan Edwards, 
          and Philippe Gaulier. Will has performed in festivals in New York, Berlin, Prague, Belgrade, Edinburgh, 
          and Sydney, and have twice toured to Japan — performing at Tadashi Suzuki’s festivals and training with 
          his actors. He has always enjoyed a process of discovery while researching, performing in theatre and filmmaking.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
